bin
gen
*.iml
.settings
local.properties
release.properties
release
.DS_Store
*Thumbs.db
*.jar.properties
build/
.gradle/
.idea/
.navigation/
maps.txt
*.pyc
lint-report.xml
captures/
ArticleBase/.sonar_lock
CommonLib/.sonar_lock
misc/core_mapping.txt
